 
<%- include("header") -%>


            <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                    <a class="navbar-brand" href="weatherbug"><i class="fas fa-cloud-meatball"></i> WeatherBug</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="about">About</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li> -->
                        <!-- <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li> -->
                      </ul>

                      
                      <ul class="navbar-nav ">
                        <li class="nav-item sign-up">
                          <a href="signup"> <i class="fas fa-user-plus"></i> Sign Up</a>
                        </li>
                        <li class="nav-item sign-up">
                          <a href="login"> <i class="fas fa-user"></i> Log In</a>
                        </li>
                      </ul>

                      <!-- <form action="/" method="post" class="form-inline my-2 my-lg-0">
                        <input name="city" class="form-control mr-sm-2" type="search" placeholder="Name of city" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form> -->
                    </div>
                  </nav>


        <div class="container-fluid">
            <div class="container box">
              
                <div class="row row-box">
                  <div class="col-lg-12">
                    <h1><%= nameOfCity %></h1>
                  </div>
                </div>
                <div class="row row-box">
                    <div class="col-lg-12">
                        <h1><%= regionName %></h1>
                    </div>
                  </div>
                <div class="row row-box">
                  <div class="col-lg-6">
                      <!-- <h1><%= dayNight %></h1> -->
                     <% if(dayNight === 1){ %>
                        <h1>Day</h1>
                  <%    } else{    %>
                        <h1>Night</h1>
                  <%     }   %>
                  </div>
                  <div class="col-lg-6 column">
                <%    if(dayNight=== 1){   %>
                      <i class="fas fa-sun "></i>
                <%    } else if (dayNight === 0){ %>
                      <i class="fas fa-moon "></i>
                <%      } else if (dayStatus === "Light rain"){     %>
                      <i class="fas fa-cloud-rain "></i>
               <%     } else if (dayStatus === "Partly cloudy") {  %>
                     <i class="fas fa-cloud-sun "></i>
               <%     } else if (dayStatus === "partly-cloudy-night"){  %>
                     <i class="fas fa-cloud-moon-rain "></i>
               <%     }   %>
                  </div>
                </div>
      
                <div class="row row-box">
      
                  <div class="col-lg-12 ">
                      <h1><%= temperature %> <img src="/img/degree-celsius.png" alt=""> </h1>
                  </div>
      
                </div>

                        <!-- <form action="/" method="post" class="form-inline my-2 my-lg-0 ">
                          <div class="form-input">
                              <input name="city" class="form-control mr-sm-2" type="search" placeholder="Name of city" aria-label="Search">                          
                          </div>
                          <div class="form-button">
                              <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
                          </div>
                        </form>    -->

                        <form action="/" method="post" class="">
                          <div class="row form-row ">
                              <div class="col-lg-12 column ">
                              
                                    <input name="city" id="home" type="search" placeholder="Name of city" aria-label="Search">                          
  
                              </div>
                          </div>
                          <div class="row form-row">
                              <div class="col-lg-12 column">
                                  <button class="btn btn-sm btn-primary" type="submit">Search</button>
                              </div>
                          </div>
                        </form>   
              </div>
        </div>

        


  <%- include("footer") -%>